@charset "UTF-8";

/* 共通
------------------------------ */
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    font-feature-settings: "palt";
    /* ↑ カーニングの指示 */
    color: #323339;
}
a {
    color: #323339;
}

:root {
    /* btn, footer-bg */
    --main:#1fa9c3;
    --btn-hover:#4bbacf;
    /* bg, hover */
    --sub:#f8f8f8;
    /* cta */
    --accent:#e59b25;
    --cta-hoverr:#ebb359;
}
.btn {
    line-height: 19px;
    border-radius: 8px;
    background-color: var(--main);
    color: #fff;
}
.cta {
    line-height: 19px;
    border-radius: 8px;
    background-color: var(--accent);
    color: #fff;
}
.background {
    background-color: var(--sub);
}
.section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
}

/* header
------------------------------ */
/* header {
    background-color: #fff;
    box-shadow: 0 10px 8px #00000014;
} */
.main-nav a:hover {
    color: var(--main);
}
.login, .nav-cta {
    border-radius: 0px;
}
.login:hover {
    background-color: var(--btn-hover);
    transition: 0.3s;
}
.nav-cta:hover {
    background-color: var(--cta-hoverr);
    transition: 0.3s;
}

/* main
------------------------------ */
/* hero */
.hero-background {
    min-height: 592px;
    background: linear-gradient(180deg, #1FB9C3, #1fa9c3);
}
.hero-left {
    color: #fff;
}
.hero-left h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 68px;
}
.hero-left span {
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    vertical-align: top;
}
.hero-left p {
    font-weight: 700;
}

/* ability */
.ability-text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
}

/* howto */
.howto-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
}

/* function */
.function-item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
}
.function-ai {
    border: 1px solid var(--main);
}
.function-ai img {
    width: 150px;
    height: 150px;
    background-color: var(--sub);
}
.ai-inner h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: var(--main);
}

/* usage */
.usage-item {
    font-size: 20px;
    line-height: 34px;}
.usage-item span {
    font-weight: 700;
}

/* blog */
.blog-more {
    color: #67737c;
    background-color: #fff;
    border: solid thin #e6e6e6;
}

/* footer
------------------------------ */
footer {
    background-color: var(--main);
    color: #fff;
}
.footer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
}
.main-cta {
    font-size: 24px;
    line-height: 29px;
}
.small {
    font-size: 10px;
    line-height: 17px;
}
.nav-title {
    font-weight: 700;
    border-bottom: 1px solid #fff;
}
.nav-item a {
    font-size: 15px;
    line-height: 26px;
    color: #fff;
}